---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Benner from '../components/Banner.astro';
---

<Layout title="Deimar Lopez">
<Header/>
<Benner/>
<h3>Skills</h3>
<section class="content-skills">
	<figure>
		<img src="/public/assets/svg/banner.svg" alt="">
	</figure>
	<article class="skills">
		<img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill"><img src="https://picsum.photos/200/300" alt="" class="skill">
	</article>
</section>
</Layout>
<style lang="scss">
@import "./../styles/app.scss";
.content-skills{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	.skills{
		display: grid;
		grid-template-columns: repeat(5,1fr);
		gap: 2rem;
	
		.skill{
			border-radius: 50%;
			width: 9.8rem;
			height: 9.8rem;
			object-fit: cover;
		}
}
}
</style>



