$fuentePrinciapal: "Montserrat", sans-serif;

//colores
$primario: #138da6;
$secundario: #37474f;
$terciario: #4e8075;
$blanco: #f5f5f5;
$blancoTrans: #fafafac9;
$negro: #252525;
$gris: #3b3b3b;

//Medidad Queries
$telefono: 408px;
$tablet: 930px;
$desktop: 1200px;

//funetes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//seapraciones
$separacion: 5rem;
